target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs and Editors
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# Environment files
.ENV
.env
*.local

# OS files
Thumbs.db
Desktop.ini
.DS_Store
changes
_to_delete